@model Cat
@{
    ViewData["Title"] = "Detaljer på en katt";
}
<h1>Kattinformation</h1>

<div class="row">
    <div class="col-md-2">
        <h4>Katt</h4>
        <hr />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    <!-- Detta är kattens namn -->
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    <!-- Detta är kattens färg -->
                    @Html.DisplayNameFor(model => model.Color)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till listan</a>
</div>
