@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Hugos Shop</h1>
    <p>Här är en shop där du kan handla utsök mat</p>
    <p>Projektet skapades för CLO22 av Hugo Broström, Campus Mölndal, 2023</p>
    <p>Missförstod att detta var en gruppuppgift så detta har jag gjort själv med hjälp av Marcus, Google och ChatGPT :)</p>
</div>


