@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Detta projekt kom till en alldeles för sen natt, med hjälp av ChatGPT</p>
    <p>Projektet skapades för CLO22 av Marcus Medina, Campus Mölndal, 2022</p>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><center>=^..^=</center></p>

