@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p><strong>Integritetspolicy</strong></p>
<p>Detta &auml;r integritetspolicyn f&ouml;r kodexemplet "ASPNetMongoDB" som publicerats av Marcus Medina. Denna policy beskriver hur vi samlar in, anv&auml;nder och skyddar eventuell personlig information som du l&auml;mnar till oss n&auml;r du anv&auml;nder detta kodexempel.</p>
<p><strong>Information som samlas in</strong></p>
<p>Vi samlar inte in n&aring;gon personlig information fr&aring;n anv&auml;ndare av detta kodexempel.</p>
<p><strong>Anv&auml;ndning av information</strong></p>
<p>Vi anv&auml;nder inte n&aring;gon personlig information som samlats in fr&aring;n anv&auml;ndare av detta kodexempel.</p>
<p><strong>Lagring av information</strong></p>
<p>Detta kodexempel &auml;r en exempelkod f&ouml;r hur man kan spara data fr&aring;n ASP.Net MVC till MongoDB. Hur data lagras och vad som lagras &auml;r helt beroende p&aring; hur koden anv&auml;nds och implementeras av den som anv&auml;nder det. Marcus Medina &auml;r inte ansvarig f&ouml;r lagringen eller hanteringen av n&aring;gon information som lagras med hj&auml;lp av detta kodexempel.</p>
<p><strong>S&auml;kerhet</strong></p>
<p>Vi vidtar rimliga s&auml;kerhets&aring;tg&auml;rder f&ouml;r att skydda din personliga information fr&aring;n obeh&ouml;rig &aring;tkomst, anv&auml;ndning eller avsl&ouml;jande. Det &auml;r dock viktigt att komma ih&aring;g att ingen &ouml;verf&ouml;ring via internet eller elektronisk lagring &auml;r 100% s&auml;ker. S&aring;ledes kan vi inte garantera fullst&auml;ndig s&auml;kerhet av informationen.</p>
<p><strong>F&ouml;r&auml;ndringar i denna integritetspolicy</strong></p>
<p>Vi f&ouml;rbeh&aring;ller oss r&auml;tten att g&ouml;ra f&ouml;r&auml;ndringar i denna integritetspolicy n&auml;r som helst. Eventuella f&ouml;r&auml;ndringar i denna integritetspolicy tr&auml;der i kraft n&auml;r de publiceras p&aring; denna sida.</p>
<p><strong>Kontakt</strong></p>
<p>Om du har fr&aring;gor eller kommentarer om denna integritetspolicy, kontakta oss p&aring; <a href="https://mail.google.com/mail/?view=cm&source=mailto&to=marcus.medina-ramirez@molndal.se" target="_new">Marcus</a>.</p>
<p><em><strong>Denna kod &auml;r publicerad enligt <a href="https://www.tldrlegal.com/l/mit">MIT-licensen</a>.</strong></em></p>
